/* Підключення шрифтів */
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"); */

/* Локальне підключення шрифтів */
@import url("fonts.css");
@import url("reset.css");

body {
	font-family: "Arial", sans-serif;
	font-size: 20px;
	color: #2C2C2C;
}

header,
footer {
	text-align: left;
	font-size: 24px;
	padding: 30px 0;
}

h1 {
	font-size: 32px;
	text-align: center;
}

.wrapper {
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
}

.wrapper > main {
	flex-grow: 1;
}

[class*="__container"] {
	max-width: 1230px;
	padding-inline: 15px;
	margin: 0 auto;
}

.page > *:not(:last-child) {
	margin-bottom: 40px;
}